*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans Condensed', bold sans-serif;
}

body {
   background-color:white;
}

.pages {
   color: rgb(7, 7, 7);
   text-align: center;
   font-size: 0.9rem;
   margin-top: 20px;
}

.video{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
   margin-bottom: 15px;
   padding-left: 30px;
   padding-right: 30px;
   
}
.video2{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 300px;
   padding-left: 30px;
   padding-right: 30px;
   
}
footer {
   margin-top: 10.25rem;
   background: #141618;
   padding: 3.625rem 0;
   text-align: center;
   color: #fff;
 }

 .titulo{
   text-shadow: 2px 2px;
   font-family:'Open Sans Condensed', sans-serif;
   font-size: larger;
   font: 1.8em sans-serif;
 }

 .titulo-biografia{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: larger;
    font: 1.5em sans-serif;
    text-shadow: 2px 2px;
 }

 .titulo-contacto{
   font-family:'Open Sans Condensed', sans-serif;
   font-size: larger;
   font: 1.5em sans-serif;
   text-shadow: 2px 2px;
}

.titulo-videos{
   font-family:'Open Sans Condensed', sans-serif;
   font-size: larger;
   font: 1.5em sans-serif;
   text-shadow: 2px 2px;
}




 .parrafo p{

   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 40px;
   text-align: center;
   margin: 20px;
   font: bold;
   color: rgb(156, 155, 155);
   
  
}

.parrafo2 p{
   margin-top: 15px;
   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(12, 10, 10);
   

}

.parrafo3 p{
   margin-top: 15px;
   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(12, 10, 10);
   

}


.parrafo4 p{
   margin-top: 15px;
   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(12, 10, 10);
   

}
.parrafo5 p{
   margin-top: 15px;
   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(12, 10, 10);
   

}
.parrafo6 p{
   margin-top: 15px;
   font-family:'Open Sans Condensed', bold sans-serif;
   font-size: 1.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(12, 10, 10);
   

}


/*SOCIAL FEED*/

.twitter{
 margin-top: 40px;
  
}

.twitter p{
   font-size: 2rem;
}



/*SECCION ARTE Y CULTURA*/

.logo2 img{
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 80px;
      border-bottom-right-radius: 80px;
      width: 180px;
      height: 100px;
}

.intro > .contenedor{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
  
}

.logo{
   width: 100%;
   max-width: 500px;
}

.logo img{
   width: 100%;
   border-radius: 20px 20px 20px 20px;
}

/*SECCION ARTE Y CULTURA*/

.parrafo-1{
   text-align: center;
   padding: 20px;
   max-width: 500px;
}

.parrafo-1 p:nth-child(1){
   font-size: 1.5rem;
   color: rgb(19, 19, 49);
   padding-bottom: 10px;
   border-bottom: 1px solid #a2a2a2;
}

.parrafo-1 h3{
   padding-top: 15px;
   padding-bottom: 15px;
   font-size: 1.8rem;
}

.parrafo-1 p:nth-child(3){
   font-size:1rem;
   padding-bottom: 15px;
}

.parrafo-1 p:nth-child(4){
   font-size: 1rem;
   padding-bottom: 20px;
}

/*FORMULARIO*/

.contenedor-form{
   display: flexbox;
   align-items: center;
   justify-content: center;
   background-color: #adadad;
   width:100%;
   height: 400px;
   margin: auto;
   max-width: 500px;
   border-radius: 20px 20px 20px 20px;
   margin-top: 20px;
}

.contenedor-nombre{
   font-size: 1.1rem;
   padding-top: 45px;
}

.contenedor-correo{
   font-size: 1.1rem;   
}

.contenedor-mensaje{ 
   padding-top: 5px; 
   font-size: 1.1rem;
}

input[type=text] {
   width: 80%;
   padding: 12px 20px;
   margin: 10px 0;
   box-sizing: border-box;
   border: none;
  border-bottom: 2px solid rgb(17, 16, 16);
 }

 input[type=text]:focus {
   background-color: lightblue;
 }

